body{
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: white;
}

a:hover{
    color:darkgrey;
}

#main-pic{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(foto2.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 0;
}

  #main-pic:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#002f4b,#dc4225);
    opacity: 0.3; 
}

#main-navbar{
    margin-top: 3vh;
    z-index: 1;
}

#menu-brand{
    color:white;
    margin-top: 2vh;
    margin-left: 2vw;
    font-size: 25px;
    font-family: 'BenchNine', sans-serif;
}   

#menu-hamburger{
    margin-top: 3vh;
    font-size: 5vh;
}

#loading-spinner{
    width: 100%;
    height: 100vh;
    background-color: black;
    text-align: center;
    position: fixed;
    z-index: 2;
}

.spinner{
    color: white;
    margin-top: 40vh;
    font-size: 300%;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.menu-item{
    color:white;
    margin-left: 4vw;
    font-size: 20px;
}

.fadeImage{
    animation: fadein 1s;
}

@keyframes fadein{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.contato{
    width: 90%;
    height: 65%;
    left: 5%;
    top: 20%;
    background-color: black;
    opacity: 0.9;
    z-index: 1;
    position: fixed;
    text-align: center;
    padding: 10vh 10vw 0 10vw;
}

.social-icon{
    color: white;
    margin: 0 2vw;
}

.social-icon:hover{
    color: darkgrey;
}

.contato-item{
    font-size: 20px;
}

@media (max-width: 768px){
    .contato-item{
        font-size: 15px;
    }
    .menu-item{
        color:white;
        margin-left: 4vw;
        font-size: 15px;
    }
    #menu-hamburger{
        margin-top: 3vh;
        font-size: 25px;
    }
    #menu-brand{
        color:white;
        margin-top: 2vh;
        margin-left: 2vw;
        font-size: 25px;
        font-family: 'BenchNine', sans-serif;
    } 
}